@import url(reset.css);

/*
  ========================================
  General styles
  ========================================
*/
body {
	font: 16px 'Open Sans', Arial, sans-serif;
	color: #848484;
}

h2,
h3 {
	color: #222;
}
h2 {
	font-size: 36px;
	font-weight: 300;
}
h3 {
	font-size: 22px;
	margin-bottom: 15px;
}
