@import url(reset.css);

/*
  ========================================
  General styles
  ========================================
*/
body {
	font: 16px 'Open Sans', Arial, sans-serif;
	color: #848484;
	background: #f4f4f4;
}

/*
  ========================================
  Typography
  ========================================
*/
h2,
h3 {
	font-family: 'Raleway', 'Open Sans', Arial, sans-serif;
	color: #222;
}
h2 {
	font-size: 36px;
	font-weight: 300;
}
h3 {
	font-size: 22px;
	margin: 55px 0 15px;
	font-weight: 600;
}
p {
	line-height: 1.6;
}

/*
  ========================================
  Grid
  ========================================
*/
.container {
	width: 1200px;
	margin: 0 auto;
}
.col-1-3 {
	width: 33.33%;
	float: left;
}

/*
  ========================================
  Header
  ========================================
*/
.main-header {
	width: 100%;
	height: 700px;
	text-align: center;
	overflow: auto;
	background: url('../img/bg-header.jpg') no-repeat center center;
}
.logo {
	text-indent: -9999px;
	width: 300px;
	height: 68px;
	background: url('../img/logo.png') no-repeat left center;
	margin: 100px auto 50px;
}

/*
  ========================================
  Features
  ========================================
*/
.feature {
	height: 465px;
}
.feature .col-1-3:first-child {
	padding-left: 60px;
}
.feature p {
	width: 310px;
}
.feature img {
	margin-top: -294px;
}

/*
  ========================================
  Get App
  ========================================
*/
.get-app {
	clear: both;
	overflow: auto;
	width: 100%;
	background: #e3e3e3;
	padding-bottom: 55px;
	margin-top: 50px;
}
.get-app .info {
	float: left;
}
.get-app p {
	width: 540px;
}
.get-app li {
	display: inline-block;
	margin: 20px 20px 0 0;
	width: 68px;
	background: #c5c5c5;
	text-align: center;
	border-radius: 100%;
	transition: all .2s ease;
}
.get-app li:hover {
	background: #222;
}
.get-app li a {
	display: block;
	padding: 15px 0;
	border-radius: 100%;
}
.get-app path {
	fill: #fff;
}
.get-app .video {
	float: right;
	width: 500px;
	margin-top: 55px;
}

/*
  ========================================
  Review
  ========================================
*/
.review {
	width: 100%;
	padding: 50px 0;
	text-align: center;
}
.review blockquote {
	font: 24px 'Raleway', 'Open Sans', Arial, sans-serif;
	color: #000;
	font-weight: 400;
	margin-bottom: 45px;
}
.review cite {
	display: block;
	margin-top: 20px;
	font: 14px 'Open Sans', Arial, sans-serif;
}
.review cite strong {
	font-weight: bold;
}
.review .user-grid {
	width: 100%;
	height: 320px;
	background: url('../img/user-grid.png') repeat-x;
}