@import url(reset.css);

/*
  ========================================
  General styles
  ========================================
*/
body {
	font: 16px 'Open Sans', Arial, sans-serif;
	color: #848484;
}

h2,
h3 {
	font-family: 'Raleway', 'Open Sans', Arial, sans-serif;
	color: #222;
}
h2 {
	font-size: 36px;
	font-weight: 300;
}
h3 {
	font-size: 22px;
	margin-bottom: 15px;
	font-weight: 600;
}

.container {
	width: 1200px;
	margin: 0 auto;
	overflow: auto;
}
.col-1-3 {
	width: 33.33%;
	float: left;
}

/*
  ========================================
  Header
  ========================================
*/
.main-header {
	width: 100%;
	height: 700px;
	text-align: center;
	overflow: auto;
	background: url('../img/bg-header.jpg') no-repeat center center;
}
.logo {
	text-indent: -9999px;
	width: 238px;
	height: 68px;
	background: url('../img/logo.png') no-repeat center center;
	margin: 100px auto 50px;
}